{% extends 'base.html.twig' %}

{% block title %}Emergency Contacts{% endblock %}

{% block body %}
    <h1>Emergency Contacts</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Name</th>
                <th>Telephone</th>
                <th>Emp_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emergency_contact in emergency_contacts %}
            <tr>
                {# <td>{{ emergency_contact.id }}</td> #}
                <td>{{ emergency_contact.name }}</td>
                <td>{{ emergency_contact.telephone }}</td>
                <td>{{ emergency_contact.emp_id }}</td>
                <td>
                    <a href="{{ path('emergency_contact_show', {'id': emergency_contact.id}) }}">show</a>
                    <a href="{{ path('emergency_contact_edit', {'id': emergency_contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employee_show', {'empId': emp_id}) }}">Go back</a> 
{% endblock %}
