{{ form_start(form) }}
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.leaveType) }}</label>
        <input class="dropdown-menu dropdown-navbar" >
            {{ form_widget(form.leaveType) }}       
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.fromDate) }}</label>
        <input class="form-control" 
            {{ form_widget(form.fromDate) }}   
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.tillDate) }}</label>
        <input class="form-control" 
            {{ form_widget(form.tillDate) }}
    </div>
</div>
     
<button class="btn btn-fill btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}