{% extends 'base.html.twig' %}

{% block title %}Leaves{% endblock %}

{% block body %}
    <h1>Employee ID {{emp_id}}</h1>
    <h1>Leaves Remaining</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Leave Type</th>
                <th>Leave Limit</th>
                <th>Leaves Taken</th>
                <th>Leaves Remaining</th>
            </tr>
        </thead>
        <tbody>
        {% for leave_remaining in leaves_remaining %}
            <tr>
                <td>{{ leave_remaining.leave_type }}</td>
                <td>{{ leave_remaining.leave_limit }}</td>
                <td>{{ leave_remaining.leaves_taken }}</td>
                <td>{{ leave_remaining.leaves_remaining }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Leaves</h1>

    <table class="table">
        <thead>
            <tr>
                <th>LeaveFormId</th>
                <th>FromDate</th>
                <th>TillDate</th>
                <th>ApprovalStatus</th>
                <th>EmpId</th>
                <th>LeaveType</th>
            </tr>
        </thead>
        <tbody>
        {% for leave in leaves %}
            <tr>
                <td>{{ leave.leave_form_id }}</td>
                <td>{{ leave.from_date ? leave.from_date|date('Y-m-d') : '' }}</td>
                <td>{{ leave.till_date ? leave.till_date|date('Y-m-d') : '' }}</td>
                <td>{{ leave.approval_status }}</td>
                <td>{{ leave.emp_id }}</td>
                <td>{{ leave.leave_type }}</td>
                <td>
                    {# <a href="{{ path('leave_show', {'leaveFormId': leave.leave_form_id}) }}">show</a> #}
                    {# <a href="{{ path('leave_edit', {'leaveFormId': leave.leave_form_d}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('employee_show',{'empId': emp_id}) }}">Go back to main page</a> 
{% endblock %}
