{{ form_start(form) }}
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.dept_id) }}</label>
        <input class="form-control" 
            {{ form_widget(form.dept_id) }}       
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.deptName) }}</label>
        <input class="form-control" 
            {{ form_widget(form.deptName) }}   
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.building) }}</label>
        <input class="form-control" 
            {{ form_widget(form.building) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.floor) }}</label>
        <input class="form-control" 
            {{ form_widget(form.floor) }}
    </div>
</div>
     
<button class="btn btn-fill btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}