{{ form_start(form) }}
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.empId) }}</label>
        <input class="form-control" 
            {{ form_widget(form.empId) }}       
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.nic) }}</label>
        <input class="form-control" 
            {{ form_widget(form.nic) }}       
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.name) }}</label>
        <input class="form-control" 
            {{ form_widget(form.name) }}   
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.email) }}</label>
        <input class="form-control" 
            {{ form_widget(form.email) }}       
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.addrLine1) }}</label>
        <input class="form-control" 
            {{ form_widget(form.addrLine1) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.addrLine2) }}</label>
        <input class="form-control" 
            {{ form_widget(form.addrLine2) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.city) }}</label>
        <input class="form-control" 
            {{ form_widget(form.city) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.country) }}</label>
        <input class="form-control" 
            {{ form_widget(form.country) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.postalCode) }}</label>
        <input class="form-control" 
            {{ form_widget(form.postalCode) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.dob) }}</label>
        <input class="form-control" 
            {{ form_widget(form.dob) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.maritalStatus) }}</label>
        <input class="form-control" 
            {{ form_widget(form.maritalStatus) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.branchId) }}</label>
        <input class="form-control" 
            {{ form_widget(form.branchId) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.deptId) }}</label>
        <input class="form-control" 
            {{ form_widget(form.deptId) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.jobTitle) }}</label>
        <input class="form-control" 
            {{ form_widget(form.jobTitle) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.payGrade) }}</label>
        <input class="form-control" 
            {{ form_widget(form.payGrade) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.empStatus) }}</label>
        <input class="form-control" 
            {{ form_widget(form.empStatus) }}
    </div>
</div>
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.supervisorId) }}</label>
        <input class="form-control" 
            {{ form_widget(form.supervisorId) }}
    </div>
</div>
<button class="btn btn-fill btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}