{{ form_start(form) }}
<div class="col-md-6 px-md-1">
    <div class="form-group">
        <label>{{ form_label(form.attribute) }}</label>
        <input class="dropdown-menu dropdown-navbar" >
            {{ form_widget(form.attribute) }}       
    </div>
</div>
     
<button class="btn btn-fill btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}