{% extends 'base.html.twig' %}

{% block title %}EmpData index{% endblock %}

{% block body %}
    <h1>EmpData index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Emp_id</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emp_datum in emp_datas %}
            <tr>
                <td>{{ emp_datum.attribute }}</td>
                <td>{{ emp_datum.emp_id }}</td>
                <td>{{ emp_datum.value }}</td>
                <td>
                    <a href="{{ path('emp_data_show', {'attribute': emp_datum.attribute}) }}">show</a>
                    <a href="{{ path('emp_data_edit', {'attribute': emp_datum.attribute}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emp_data_new') }}">Create new</a>
{% endblock %}
