{% extends 'base.html.twig' %}

{% block title %}Dependents{% endblock %}

{% block body %}
    <h1>Dependents</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DependentId</th>
                <th>Nic</th>
                <th>Name</th>
                <th>Email</th>
                <th>Relationship</th>
                <th>Telephone</th>
                <th>AddrLine1</th>
                <th>AddrLine2</th>
                <th>City</th>
                <th>Country</th>
                <th>PostalCode</th>
                <th>Empid</th>
                
            </tr>
        </thead>
        <tbody>
        {% for dependent in dependents %}
            <tr>
                <td>{{ dependent.dependent_id }}</td>
                <td>{{ dependent.nic }}</td>
                <td>{{ dependent.name }}</td>
                <td>{{ dependent.email }}</td>
                <td>{{ dependent.relationship }}</td>
                <td>{{ dependent.telephone }}</td>
                <td>{{ dependent.addr_line_1 }}</td>
                <td>{{ dependent.addr_line_2 }}</td>
                <td>{{ dependent.city }}</td>
                <td>{{ dependent.country }}</td>
                <td>{{ dependent.postal_code }}</td>
                <td>{{ dependent.emp_id }}</td>
                <td>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <a href="{{ path('employee_show', {'empId': emp_id}) }}">Go back</a> 
{% endblock %}
