{% extends 'base.html.twig' %}

{% block title %}Edit Leave Limit{% endblock %}

{% block body %}
    <h2>Edit {{leave_limit.payGrade}} {{leave_limit.leaveType}} Leave Limit</h2>

    <a>{{leave_limit.payGrade}}</a>
    <a>{{leave_limit.leaveType}}</a2>

    {{ include('leave_limit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('leave_limit_index') }}">back to list</a>

    {{ include('leave_limit/_delete_form.html.twig') }}
{% endblock %}
