{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
    <h1>Reports</h1>
    <a>Employees by </a>
    {{ include('report/_formDept.html.twig') }}
    {{ include('report/_formBranch.html.twig') }}
    {{ include('report/_formJobTitle.html.twig') }}
    {{ include('report/_formPayGrade.html.twig') }}

    {# <a href="{{ path('leave_limit_index') }}">back to list</a> #}
{% endblock %}
